<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
<!-- 		<Console name="console" target="SYSTEM_OUT"> -->
<!-- 			<PatternLayout -->
<!-- 				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" /> -->
<!-- 		</Console> -->
		<RollingFile name="default"
			fileName="${sys:catalina.home}/logs/chimera_publisher_server.log"
			filePattern="${sys:catalina.home}/logs/chimera_publisher_server.%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d %p | %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
		<Async name="defaultAsync">
			<AppenderRef ref="default" />
		</Async>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="defaultAsync" />
		</Root>
	</Loggers>
</Configuration>